
  
    {% extends 'base.html' %}


{% block body %}
    <div style="background-color: #9bbeeb;" >  

      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <h1 class="display-4 text-center ">Hello user!!</h1>
    
    



    <h1 class=" display-6 text-center"> this is</h1>

   


    <h1 class="display-4 text-center"> Finn's spending manager</h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <b> Site Summary:</b>
          <p>A purchase and spending tracker for anyone who wants to cut down on spending. You can set saving goals, whether it's reaching a specific amount saved up or setting a limit on monthly spending <p> </p></p>
        </div>
    </div>
    </div>

    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">


     
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">

          
     
<p></p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/static/homeimage1.jpg" class="d-block w-100" alt="..." width="400" height="500">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




    
    


    

    {% endblock %}